<div class="fr-container fr-my-5w">
  
  <h1>
    À propos
  </h1>

  <p>
    « Le baromètre numérique » est une plateforme ouverte des données des services numériques de la Gendarmerie Nationale. Il s’agit d’une première initiative de portail <i>open data</i> qui met à disposition de tous publics des données représentant une partie de l’activité de services proposés par la Gendarmerie en ligne et de leur perception par les usagers.
  </p>

  <h2>
    Version bêta <span class="fr-badge fr-badge--md fr-badge--green-emeraude">BETA</span>
  </h2>

  <p>
    Ce site est publié dans sa version <i>Bêta</i>, ce qui signifie qu'il est encore en phase de développement actif et que sa structure comme ses contenus sont susceptibles d'être modifiés sans avis préalable.
  </p>

  <p>
    Par ailleurs, en l'état, nous ne garantissons pas sa continuité en toute circonstance et il se peut que l'interface web ou l'API soit inaccessible pendant de courtes périodes.
  </p>

  <h2>Information sur les données</h2>

  <p>
    Les sources de données rassemblées par le Baromètre Numérique sont décrites sur <a href="information-donnees">cette page</a> et les variables mises à disposition sont détaillées dans <a href="api/docs">la documentation de l'API</a>.
  </p>


  <h2>À code ouvert</h2>

  <p>
    Le code source de la plateforme est disponible <a href="https://github.com/GendarmerieNationale/barometre-numerique-web">ici</a> sous licence <a href="https://www.apache.org/licenses/LICENSE-2.0" target="_blank" rel="noopener">Apache 2</a>. Il est ouvert à d'éventuelles contributions. Vous pouvez utiliser le système d'<i>issues</i> de Github pour signaler des problèmes et suggérer des modifications.
  </p>

  <p>
    Les données mises à disposition par cette plateforme sont, sauf mention contraire, sous <a href="https://github.com/etalab/licence-ouverte/blob/master/LO.md" target="_blank" rel="noopener">Licence Ouverte Etalab 2.0</a>.
  </p>

  <h2>On recrute !</h2>

  <p>
    Vous êtes intéressé par l'innovation numérique, l'informatique ou les données ? La gendarmerie a de nombreux postes à pourvoirs chaque année dans ces domaines (et bien d'autres). Consultez les <a href="https://www.gendarmerie.interieur.gouv.fr/recrutement/decouvrir-nos-metiers">fiches métiers</a> sur le <a href="https://www.gendarmerie.interieur.gouv.fr/recrutement/">site de recrutement</a> de la GN pour en savoir plus et n'hésitez pas à <a href="https://www.gendarmerie.interieur.gouv.fr/recrutement/nos-ambassadeurs">discuter avec un gendarme</a> à ce sujet ou vous rendre dans un <a href="https://www.gendarmerie.interieur.gouv.fr/recrutement/contact">Centre d'Information et de Recrutement</a> près de chez vous.
  </p>

  <br>
  
</div>

