<div class="fr-container fr-my-5w">
  
  <h1>
    Déclaration d’accessibilité
  </h1>

  <p>
    « Le Baromètre Numérique » s’engage à rendre son site accessible conformément à l’article 47 de la loi n° 2005-102 du 11 février 2005.
  </p>

  <p>
    A cette fin, un audit d'accessibilité sera réalisé afin de mettre en œuvre cette stratégie et pouvoir rendre compte d'un taux précis de critères de contrôle du RGAA respectés.
  </p>

  <p>
    En l'état, ce site n'est pas en conformité avec le RGAA.
  </p>

</div>

