<div class="fr-container fr-my-5w">
  <h1>
    Information sur les données
  </h1>

  <div class="fr-highlight">
    <p>
      <span class="fr-icon-warning-line" aria-hidden="true"></span> <span
        class="fr-badge fr-badge--green-emeraude">BETA</span><br> Ce site et cette documentation sont encore en actif
      développement. Ils peuvent contenir des erreurs et subir des modifications sans préavis. Pour demander plus de
      précisions sur une source de données ou signaler un problème, vous pouvez utiliser le système d'<i><a
        href="https://github.com/GendarmerieNationale" target="_blank" rel="noopener">issues</a></i> du répertoire de
      code.
    </p>
  </div>
  <br>

  <p>
    Cette page décrit les sources de données accessibles depuis ce site, <i>via</i> son interface web ainsi que l'<a
      href="api/docs">API</a>. Sauf mention contraire, ces données sont mises à disposition sous <a
      href="https://github.com/etalab/licence-ouverte/blob/master/LO.md" target="_blank" rel="noopener">Licence Ouverte
    Etalab 2.0</a>.
  </p>

  <p>
    Vous pouvez accéder directement à la description des sources de données suivantes :
  </p>

  <ul>
    <li><a href="#info-ma-gendarmerie">Tchat en ligne (Ma Gendarmerie)</a></li>
    <li><a href="#info-perceval">Signalement de fraude à la carte bancaire (Perceval)</a></li>
    <li><a href="#info-ppel">Pré-plainte en ligne</a></li>
    <li><a href="#info-site-web">Site web</a></li>
    <li><a href="#info-reseaux-sociaux">Réseaux sociaux</a></li>
    <li><a href="#info-recrutement">Recrutement</a></li>
    <li><a href="#info-spp">Services Publics +</a></li>
    <li><a href="#info-iggn">Inspection Générale</a></li>
  </ul>

  <p>
    Une liste détaillée des variables disponibles pour chaque source est accessible sur <a href="api/docs">la
    documentation de l'API</a>.
  </p>

  <br>

  <h2 id="info-ma-gendarmerie">
    Tchat en ligne (Ma Gendarmerie)
  </h2>

  <p>
    <a href="https://www.gendarmerie.interieur.gouv.fr/a-votre-contact/contacter-la-gendarmerie/ma-gendarmerie"
       target="_blank" rel="noopener">Ma
      Gendarmerie</a> est une plateforme permettant à tout un chacun de discuter en ligne avec un gendarme à toute heure
    pour s'informer, témoigner ou se déclarer victime.
  </p>

  <p>
    <a href="ma-gendarmerie">Le Baromètre Numérique</a> met à disposition des données agrégées permettant d'apprécier
    le niveau d'activité de ce service et les motifs des prises de contact. Les motifs (je m'informe, je signale, je
    suis victime) correspondent à l'entrée du formulaire précédant la prise de contact ou à une classification des
    sous-motifs établie <i>a posteriori</i>. Les données permettent de remonter jusqu'à la création de ce service en
    2018.
  </p>

  <ul>
    <li>
      <b>Source</b> : Gendarmerie Nationale
    </li>
    <li>
      <b>Mise à jour</b> : Données historiques jusqu'en avril 2022 inclus. À terme, mise à jour mensuelle.
    </li>
  </ul>

  <br>

  <h2 id="info-perceval">
    Signalement de fraude à la carte bancaire (Perceval)
  </h2>

  <p>
    <a href="https://www.service-public.fr/particuliers/vosdroits/R46526" target="_blank" rel="noopener">Perceval</a>
    est une plateforme dédiée au signalement des fraudes à la carte bancaire afin, notamment, de faciliter la procédure
    de remboursement auprès des banques. L'interface est administrée par le site <a
      href="https://www.service-public.fr/" target="_blank" rel="noopener">service-public.fr</a> mais les signalements
    sont gérés par la Gendarmerie Nationale.
  </p>

  <p>
    <a href="perceval">Le Baromètre Numérique</a> met à disposition des données agrégées permettant d'apprécier les
    nombres et montants totaux des signalements par jour. Aussi, sont renseignées les tranches d'âge des victimes
    et le nombre de signalements par département, agrégées au mois. Les données permettent
    de remonter jusqu'à 2020.
  </p>

  <ul>
    <li>
      <b>Source</b> : Gendarmerie Nationale
    </li>
    <li>
      <b>Mise à jour</b> : Données historiques jusqu'en février 2022. À terme, mise à jour mensuelle.
    </li>
  </ul>

  <br>

  <h2 id="info-ppel">
    Pré-plainte en ligne
  </h2>

  <p>
    <a href="https://www.pre-plainte-en-ligne.gouv.fr/" target="_blank" rel="noopener">Pré-plainte en ligne</a> est une
    plateforme permettant d'effectuer une déclaration pour des faits d'atteinte aux biens dont l'usager est victime et
    pour lesquels il ne connait pas l'auteur.
  </p>

  <p>
    <a href="pre-plainte-en-ligne">Le Baromètre Numérique</a> met à disposition des données agrégées permettant
    d'apprécier le niveau d'activité de ce service en accédant au nombre de pré-plaintes déposées par jour. On peut aussi
    observer la qualité de personne morale ou physique des auteurs des dépôts, ainsi que l'origine géographique
    (département) de ceux-ci. Ces données complémentaires sont agrégées au mois. Les données permettent de remonter
    jusqu'à 2013.
  </p>

  <ul>
    <li>
      <b>Source</b> : Gendarmerie Nationale
    </li>
    <li>
      <b>Mise à jour</b> : Données historiques jusqu'en décembre 2021. À terme, mise à jour mensuelle.
    </li>
  </ul>

  <br>

  <h2 id="info-site-web">
    Site web
  </h2>

  <p>
    <a href="https://www.gendarmerie.interieur.gouv.fr/" target="_blank" rel="noopener">Le site web de la Gendarmerie
      Nationale</a> est un des principaux canaux de communication de l'institution. Y sont mis à disposition divers
    points de contacts, des éléments de description et de communication, des conseils aux usagers et plusieurs
    sous-sites tels que ceux du
    <a href="https://www.gendarmerie.interieur.gouv.fr/recrutement" target="_blank" rel="noopener">recrutement</a>, du
    <a href="https://www.gendarmerie.interieur.gouv.fr/gign" target="_blank" rel="noopener">GIGN</a> ou du
    <a href="https://www.gendarmerie.interieur.gouv.fr/musee" target="_blank" rel="noopener">musée de la Gendarmerie</a>.
  </p>

  <p>
    <a href="site-web">Le Baromètre Numérique</a> met à disposition des données issues de l'outil d'analyse d'audience
    utilisé par la Gendarmerie sur son site. Le nombre total de visites
    sur le site est agrégé à l'heure. 
    Une visite se caractérise par un ensemble d’événement et toute nouvelle visite est crée dès que 2 événements sont séparés de plus de 30 minutes
    Les données complémentaires comme l'origine géographique (ville, région, pays), le
    nombre de visites par page, les sources des visites et les dispositifs des usagers (appareil, système opérationnel,
    navigateur) sont agrégés au mois. Les données permettent de remonter jusqu'à fin 2020.
  </p>

  <ul>
    <li>
      <b>Source</b> : Gendarmerie Nationale
    </li>
    <li>
      <b>Mise à jour</b> : Données historiques jusqu'en avril 2022. À terme, mise à jour toutes les heures.
    </li>
  </ul>

  <br>

  <h2 id="info-reseaux-sociaux">
    Réseaux sociaux
  </h2>

  <p>
    La Gendarmerie Nationale, ses brigades et plusieurs de ses services alimentent de nombreux comptes sur les réseaux
    sociaux pour communiquer avec ses usagers. On retrouve par exemple, pour le profil national, des comptes sur
    <a href="https://fr-fr.facebook.com/gendarmerienationale" target="_blank" rel="noopener">Facebook</a>,
    <a href="https://www.instagram.com/gendarmerie_nationale_officiel/?hl=fr" target="_blank"
       rel="noopener">Instagram</a>,
    <a href="https://twitter.com/gendarmerie" target="_blank" rel="noopener">Twitter</a>,
    <a href="https://www.youtube.com/c/Gendarmerienationaleofficiel" target="_blank" rel="noopener">YouTube</a> et
    <a href="https://www.linkedin.com/company/gendarmerie-nationale/mycompany/" target="_blank"
       rel="noopener">LinkedIn</a>.
  </p>

  <p>
    <a href="reseaux-sociaux">Le Baromètre Numérique</a> met à disposition des données issues des API de ces services,
    pour l'instant seulement pour Twitter et YouTube. Pour Twitter, nous mettons à disposition des caractéristiques
    publiques (nombre de <i>followers</i> et de <i>tweets</i>) pour l'ensemble des comptes « territoriaux » (<a
      href="https://lannuaire.service-public.fr/navigation/gendarmerie_departementale" target="_blank" rel="noopener">Groupements
    de Gendarmerie
    Départementale</a>) ainsi que d'autres comptes affiliés à l'institution (<i>p. ex.</i> le compte national, le GIGN
    et le Pôle Judiciaire). Pour YouTube, nous mettons à disposition le nombre d'abonnés, de vidéos et le nombre total
    de vues cumulées pour <a href="https://www.youtube.com/c/Gendarmerienationaleofficiel" target="_blank"
                             rel="noopener">le compte national</a>.
  </p>

  <ul>
    <li>
      <b>Source</b> : Twitter et YouTube.
    </li>
    <li>
      <b>Mise à jour</b> : Données historiques jusqu'en avril 2022. À terme, mise à jour toutes les heures.
    </li>
  </ul>

  <br>

  <h2 id="info-recrutement">
    Recrutement
  </h2>

  <p>
    Cette source de données est en majeure partie dérivée de celle du <a href="information-donnees#info-site-web">site
    web</a> en se focalisant sur <a href="https://www.gendarmerie.interieur.gouv.fr/recrutement/" target="_blank"
                                    rel="noopener">le sous-site du
    recrutement</a>. Cette plateforme est une des interfaces privilégiées de la Gendarmerie pour décrire les métiers à
    pourvoir, les conditions du recrutement et organiser le parcours de candidature.
  </p>

  <p>
    <a href="recrutement">Le Baromètre Numérique</a> met à disposition des données permettant d'apprécier le nombre de
    visites spécifiques au site du recrutement, agrégées à l'heure. Le nombre de visites est aussi détaillée pour chaque
    fiche métier, complété par la durée moyenne des visites par fiche. Enfin, sont exposés les taux de féminisation de
    plusieurs catégories de personnel militaire et du personnel civil au sein de la Gendarmerie Nationale depuis 2016.
  </p>

  <ul>
    <li>
      <b>Source</b> : Gendarmerie Nationale
    </li>
    <li>
      <b>Mise à jour</b> : Pour le site, données historiques jusqu'en avril 2022. À terme, mise à jour toutes les heures. Annuelle pour les taux de féminisation.
    </li>
  </ul>

  <br>

  <h2 id="info-spp">
    Services Publics +
  </h2>

  <p>
    <a href="https://www.plus.transformation.gouv.fr/" target="_blank" rel="noopener">Services Publics +</a> est une
    plateforme développée et maintenue
    par la <a href="https://www.modernisation.gouv.fr/qui-sommes-nous" target="_blank" rel="noopener">Direction
    Interministérielle de la Transformation
    Publique</a> dans le but, notamment, de permettre aux usagers des services publics de <a
      href="https://www.plus.transformation.gouv.fr/experience/step_1#breadcrumb" target="_blank" rel="noopener">donner
    leur avis</a> sur leur
    expérience avec une administration.
  </p>

  <p>
    <a href="service-public-plus">Le Baromètre Numérique</a> met à disposition les données concernant les avis déposés
    sur des structures qui dépendent de la Gendarmerie Nationale. Par exemple, il peut s'agir d'un avis déposé par un
    usager suite à son dépôt de plainte dans une brigade de Gendarmerie, ou suite à la réalisation d'une procédure en
    ligne gérée par la GN, comme un signalement de fraude à la carte bancaire (Perceval) ou une Pré-Plainte-en-Ligne.
    Outre le nombre d'expériences et d'avis positifs, neutres et négatifs, sont mises à disposition les origines
    géographiques des avis (département), le détail des structures associées aux avis et les avis spécifiques à certains
    thèmes comme l'accessibilité, la réactivité ou la simplicité des procédures. Les données permettent de remonter
    jusqu'en 2019.
  </p>

  <ul>
    <li>
      <b>Source</b> : <a
        href="https://www.plus.transformation.gouv.fr/experiences?combine=&reponse=All&organisme=gendarmerie"
        target="_blank" rel="noopener">Direction
      Interministérielle de la Transformation Publique</a>
    </li>
    <li>
      <b>Mise à jour</b> : Données historiques jusqu'en avril 2022. À terme, mise à jour mensuelle.
    </li>
  </ul>

  <br>

  <h2 id="info-iggn">
    Réclamations IGGN
  </h2>

  <p>
    L'<a href="https://www.gendarmerie.interieur.gouv.fr/notre-institution/nos-composantes/au-niveau-central/iggn"
         target="_blank" rel="noopener">Inspection
    Générale de la Gendarmerie Nationale</a> est en charge des enquêtes judiciaires et administratives mettant en cause le personnel de la Gendarmerie
    en cas, par exemple, de dépôt de plainte à leur égard ou d'un simple signalement. Elle assure des missions de déontologie, de contrôle et d'études et
    répond directement au Directeur Général de la Gendarmerie Nationale. À ce titre, elle est chargée de traiter les
    réclamations faites <i>via</i> <a href="https://www.gendarmerie.interieur.gouv.fr/contacts/reclamation-iggn"
                                     target="_blank" rel="noopener">le
    formulaire en ligne</a> dédié à cet effet.
  </p>

  <p>
    <a href="iggn">Le Baromètre Numérique</a> met simplement à disposition le nombre de réclamations (en ligne ou pas)
    par an depuis 2015 et les conclusions des enquêtes qui en résultent (avéré / non-avéré) pour les années 2019 et 2020.
  </p>

  <ul>
    <li>
      <b>Source</b> : <a href="https://www.vie-publique.fr/757-inspection-generale-de-la-gendarmerie-nationale"
                         target="_blank" rel="noopener">Rapports annuels de l'IGGN</a>
    </li>
    <li>
      <b>Mise à jour</b> : Annuelle
    </li>
  </ul>

  <br>

  <br>

</div>
  
  